{% extends "base.twig" %}

{% block content %}
		{% set size = intro.bgs | length - 1 %}
		{% set key = random(size) %}

		<section class="page-intro" style="background-image: url({{ intro.bgs[key].image.url }})">
			<h1 class="intro-h1 home-intro">Bikes Fight Cancer</h1>
			<img class="intro-stars" src="/wp-content/themes/spokes/images/intro-stars.png" />
			<h2 class="intro-h2">{{intro.goal}}</h2>
			<a class="btn btn-large btn-donate" href="http://www2.pmc.org/profile/TP0083" target="_blank">Donate Today</a>
		</section><!-- /page-intro -->	

		<section class="page-sub-intro-home">
			<div class="page-mod">
				<div class="sub-intro-txt-mod-home">
				<h3 class="sub-intro-txt">{{ intro.post_content }}</h3>
					<div class="team-signature-mod">
						{% for sig in intro.sigs %}
							<div class="team-signature">
								<img src="{{sig.signature.url}}" alt="{{sig.signature.alt}}" />
							</div><!-- /team-signatures -->
						{% endfor %}
					</div><!-- /team-signature-mod -->	
				</div><!-- /sub-intro-txt-mod -->
			</div><!-- /page-mod -->	
		</section><!-- /page-sub-intro -->	

		{% if raffle.raffle_name %}
			{% include 'raffle-ticket.twig' %}
		{% endif %}

		<section class="blog-feed">
			<div class="page-mod">
				<img class="section-icon" src="/wp-content/themes/spokes/images/icon-blog.png">
				<h4 class="section-h1">Blog</h4>

				<div class="blog-feed-mod">
					{% for post in posts %}
						{% include 'tease-blog.twig' %}
					{% endfor %}
				</div>

			</div><!-- /page-mod -->
		</section><!-- /blog-feed -->	

{% endblock %}