{% extends "base.twig" %}

{% block content %}

	{% if post.hero %}
		<div class="post-intro-img">
			<img src="{{post.hero.url}}" alt="alt text"/>
		</div>
	{% endif %}

	{% if not post.hero %}
		<div class="no-hero">
	{% endif %}
	<div class="post-content-topper"></div>
	<div class="post-content-mod">
			<div class="section-hd-mod">
				<img class="section-icon" src="/wp-content/themes/spokes/images/icon-history.png">
				<h4 class="section-h1">{{post.title}}</h4>
			</div><!-- /section-hd-mod -->	

			<h1 class="post-h1">{{post.headline}}</h1>
			
			{{post.get_content}}
	</div> <!-- /post-content-mod -->
	{% if not post.hero %}
		</div>
	{% endif %}

	<section class="raffle-history history-aside">
		<div class="aside-rule"></div>
		{% if post.sponsors %}
			<div class="aside-section-mod">
				<h4 class="caption-section-h">Raffle Winners</h4>
				{{post.winners}}
			</div><!-- /aside-section-mod -->		
		{% endif %}

		<div class="aside-rule"></div>
		{% if post.sponsors %}
			<div class="aside-section-mod">
				<h4 class="caption-section-h">Business Sponsors</h4>
				{{post.sponsors}}
			</div> <!-- /aside-section-mod -->	
		{% endif %}
	</section><!-- /raffle-history -->	

{% endblock %}