{% extends "base.twig" %}

{% block content %}
	<div class="post-intro-img">
		<img src="{{post.hero.url}}" alt="alt text"/>
	</div>

	<div class="post-content-topper"></div>
	<div class="post-content-mod">
			<div class="section-hd-mod">
				<img class="section-icon" src="/wp-content/themes/spokes/images/icon-blog.png">
				<h4 class="section-h1">{{post.title}}</h4>
			</div><!-- /section-hd-mod -->	

			<h1 class="post-h1">{{post.headline}}</h1>
			<div class="byline">by {{post.author.display_name}}</div><!-- /byline -->
			
			{{post.get_content}}
			
	</div> <!-- /post-content-mod -->	

	<section class="raffle-history">
		{{post.winners}}	
	</section><!-- /raffle-history -->	

	<section class="sponsors-history">
		<ul class="sponsors-history-ul">
			<li class="sponsors-history-item">Metamorphosis Massage</li>
		</ul><!-- /sponsors-history-ul -->	
	</section><!-- /sponsors-history -->

{% endblock %}