{% extends "base.twig" %}

{% block content %}
	<div class="post-intro-img">
		<img src="{{post.hero.url}}" alt="alt text"/>
	</div>

	<div class="post-content-topper"></div>
	<div class="post-content-mod">
			<div class="section-hd-mod">
				<img class="section-icon" src="/wp-content/themes/spokes/images/icon-blog.png">
				<h4 class="section-h1">{{post.title}}</h4>
			</div><!-- /section-hd-mod -->	

			<h1 class="post-h1">{{post.headline}}</h1>
			<div class="byline">by {{post.author.display_name}}</div><!-- /byline -->
			
			{{post.get_content}}
			
	</div> <!-- /post-content-mod -->	

	<section class="raffle-history">
		{% if post.sponsors %}
			<h4 class="caption-section-h">Raffle Winners</h4>
			{{post.winners}}	
		{% endif %}

		{% if post.sponsors %}
			<h4 class="caption-section-h">Business Sponsors</h4>
			{{post.sponsors}}
		{% endif %}
	</section><!-- /raffle-history -->	

{% endblock %}