<article class="blog-post-tz card-effect">	
	<div class="blog-post-tz-mod">					
		<div class="post-date">{{ post.post_date | date('n.j.y') }}</div>
		<!-- <div class="post-date-mod"></div> -->
		<div class="tz-content-mod">
<<<<<<< HEAD
			<h5 class="tz-h1"><a href="{{post.permalink}}">{{ post.post_title }}</a></h5>
			<div class="byline">Need to hook up author here...</div>
=======
			<h5 class="tz-h1"><a href="{{post.permalink}}">{{ post.post_title}}</a></h5>
			<div class="byline">By {{ post.author.first_name }}</div>
>>>>>>> c11d5b4866057365414835e934f1e1d53ad35685
			<p class="tz-txt">{{ post.get_preview(40) }}</p>
		</div><!-- /tz-content-mod -->	
	</div><!-- /blog-post-tz-mod -->	
</article><!-- /blog-post -->